.perks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 10%;
}

@media only screen and (max-width: 700px)  {
    .perks-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .perks-right-side{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
    }
  }

.perks-left-side {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 8%;
    width: 50%;
    font-size: calc(0.5rem + 0.7vw);
}
@media only screen and (max-width: 700px)  {
    .perks-left-side {
        padding-left: 0%;
    }
}

.perks-right-side {
    grid-area: 1 / 2 / 2 / 3;
    font-size: calc(0.5rem + 0.7vw);
}

.perks-left-side li:hover{
    color: var(--secondary-color);
    background-color: var(--main-color);
    cursor: pointer;
}

.perks-left-side li{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.perks-active-tab
{
    color: var(--secondary-color);
    background-color: var(--main-color);
}

.perks-right-side img{
    width: 150px;
    aspect-ratio: 2/3;
}
.perks-right-side p{
    font-size: calc(0.2rem + 1vw);
}