.color-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    padding-top: 10%;
    padding-left: 0;
    text-align: center;
    
    /* font-size: 0.5rem; */
}


.color-container div:hover {
    cursor: pointer;
}

.colorGreen {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--secondary-color);
}

.colorRed {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--secondary-color);
}

.colorOrange {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--secondary-color);
}

.colorIce {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--secondary-color);
}

.colorNuka {
    grid-area: 1 / 3 / 2 / 4;
    background-color: var(--secondary-color);
}

.colorGold {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--secondary-color);
}

.colorPink {
    grid-area: 3 / 2 / 4 / 3;
    background-color: var(--secondary-color);
}

.color-active{
    background-color: var(--main-color);
    color: var(--secondary-color);
}