.MapNord-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.MapNord-container img {
    width: 33rem;
    max-height: 33rem;

    /* Green */
    /* filter: 
    grayscale(100%) 
    brightness(65%) 
    sepia(100%) 
    hue-rotate(50deg) 
    saturate(1000%) 
    contrast(0.8) */

    /* RED */
    /* filter: 
    grayscale(100%) 
    brightness(20%) 
    sepia(100%) 
    hue-rotate(0deg) 
    saturate(5000%)
    contrast(0.8); */

    /* Orange */
    /* filter:  
    grayscale(100%) 
    brightness(81%) 
    sepia(100%) 
    hue-rotate(10deg) 
    saturate(200%)
    contrast(0.8); */

    /* Ice */
    /* filter: 
    grayscale(100%) 
    brightness(70%) 
    sepia(100%) 
    hue-rotate(200deg) 
    saturate(200%)
    contrast(0.8); */

    /* Nuka COLA */

    /* GOLD */
    /* filter: 
    grayscale(100%) 
    brightness(70%) 
    sepia(100%) 
    hue-rotate(25deg) 
    saturate(800%)
    contrast(0.8); */


    /* Pink boy */
    /* filter: 
    grayscale(100%) 
    brightness(50%) 
    sepia(100%) 
    hue-rotate(300deg) 
    saturate(400%); */

}

.HomeMiddleFooter {

    align-self: center;
}