/* HEADER ECRAN */
.header-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    border-bottom: solid 1px var(--main-color);
}

.header-tabs li {
    font-size: 100%;
    color: var(--main-color);
}

.header-tabs li:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.header-tab-active li::before {
    color: var(--main-color);
    content: '┌ ';
}

.header-tab-active li::after {
    color: var(--main-color);
    content: ' ┐';
}