.lang-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 5%;
}

.lang-left-side {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 8%;
    width: 60%;
}

.lang-right-side {
    grid-area: 1 / 2 / 2 / 3;
}

.lang-left-side li:hover{
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--main-color);
}

.lang-left-side li{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lang-active-tab
{
    color: var(--secondary-color);
    background-color: var(--main-color);
}
.lang-right-side p{
    font-size: calc(0.2rem + 1vw);
}
.lang-right-side img {
    width: 20%;
}

.vaultboycomputer img{
    width: 120%;
}
