#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
}

hr{
    width: 50%;
    margin: 15px;
}


img{
    transition: transform .1s;    
}
img:hover{
    transform: scale(1.5); 
}

.right_side{
    padding-top: 9%;
    padding-left: 8%;

    background: rgb(47,79,79);
    background: linear-gradient(90deg, rgba(47,79,79,1) 0%, rgba(154,181,181,1) 3%, rgba(255,255,255,1) 6%);    

}


/* .left_side{
    
}

.nomprenom{
   
} */

.lang-icon{
    width: 10%;
    height: 10%;
}



body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    /* min-height: 1000px; */
    margin: 0px;
    padding-top: 0%;
    background-color: darkslategrey;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    repeating-linear-gradient(45deg, #000000 0%, #000000 5%, darkcyan 5%, darkcyan 10%);
    border-radius: 8px;
    padding: 9px;
    box-sizing: border-box; */
}
.container .left_side{
    position: relative;
    background-color: darkslategrey;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileText .imgBx{
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2{
    color:white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span{
    font-size: 0.8em;   
    font-weight: 300; 
}

.contactInfo{
    padding-top: 5px;
}
.title{
    font-size: 1.5rem;
    color: darkcyan;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;

}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 5px 0 ;
    cursor: pointer;
    transition: transform .1s;
}
.contacts ul li:hover{
    transform: scale(1.2); 
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 1%;
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: darkcyan;
}
.contactInfo ul li span{
    color: white;
    font-weight: 300;
}
.contactInfo ul li .text{
    font-size: 1rem;
}
.contactInfo ul li .textbig{
    font-size: 0.8rem;
}



.title h3{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.contactInfo.education li{
    margin-bottom: 15px;
}
.contactInfo.education h5{
    font-size: 1rem;
    color: darkcyan;
    font-weight: 500;
}
.contactInfo.education h4{
    font-size: 0.8rem;
    color: white;
    font-weight: 500;
}
.contactInfo.education h2{
    font-size: 0.8rem;
    color: cyan;
    font-weight: 500;
}



.contactInfo.langues{
    display: flex;
    justify-content: center;
    text-align: start;
    padding-left: 10%;
}

.contactInfo .text-lang{
    font-size: 0.8rem;
    color: darkcyan;
}
.contactInfo img{
    width: 10%;
    height: 10%;
}
/* .contactInfo .language{

} */





.container .right{
    position: relative;
    background-color: white;
    padding: 40px;
}

.about{
    margin-bottom: 15px;
}
.about:last-child{
    margin-bottom: 0;
}


.title2 {
    color: darkcyan;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.textExp p{
    font-size: 0.8rem;
    color: grey;
}
.textProfile{
    font-size: 0.8rem;
    color: grey;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;

}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: darkcyan;
}

body > div > div.right_side > div:nth-child(2) > div:nth-child(3) > div.year_company > img{
    width: 60%;
    height: 60%;
}
body > div > div.right_side > div:nth-child(2) > div:nth-child(2) > div.year_company > img{
    width: 80%;
    height: 60%;
}


body > div > div.right_side > div:nth-child(2){
    margin-right: 19px;
}



.langages ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
}
.langages ul li{
    list-style: none;
    margin: 0 15px 0;
    font-size: 4rem;
    transition: transform .2s;
}
.langages ul li:hover{
    transform: scale(1.5); 
}







.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa{
    color: darkcyan;
    font-size: 2rem;
}






.qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qrcode img{
    width: 20vw;
    height: 25vh;
    transition: transform .1s;
}


@media (max-width: 800px)
{
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
    .langages ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .contactInfo.langues{
        justify-content: end;
        text-align: center;
    }

    .right_side{
        background: rgb(47,79,79);
        background: linear-gradient(180deg, rgba(47,79,79,1) 0%, rgba(154,181,181,1) 3%, rgba(255,255,255,1) 6%);    
        padding-top: 10%;
    }
    hr{
        width: 80%;
    }
    body > div > div.left_side > div.contactInfo.contacts{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    body > div > div.left_side > div.contactInfo.education{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px)
{
    .about .box{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
    .langages ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .contactInfo.langues{
        justify-content: end;
        text-align: center;
    }

    .right_side{
        background: rgb(47,79,79);
        background: linear-gradient(180deg, rgba(47,79,79,1) 0%, rgba(154,181,181,1) 3%, rgba(255,255,255,1) 6%);    
        padding-top: 20%;
    }
    hr{
        width: 80%;
    }
    body > div > div.left_side > div.contactInfo.contacts{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    body > div > div.left_side > div.contactInfo.education{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}


/* tests */
/* div{
    border: 2px outset #ff6550;
} */

