.StatusContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}


/* .StatusContainer > div{
  border: solid 1px pink;
} */

.VaultBoy {
  grid-area: 2 / 2 / 5 / 4;

}

.VaultBoyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animated-gif {
  width: calc(3rem + 4vw + 4vh);  
  height: auto;
}


.HpHead {
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  justify-content: center;
}

.HpLeftHand {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: flex-end;
}

.HpRightHand {
  grid-area: 2 / 4 / 3 / 5;
  display: flex;
  justify-content: flex-start;
}

.HpLeftFeet {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  justify-content: flex-end;
}

.HpRightFeet {
  grid-area: 4 / 4 / 5 / 5;
  display: flex;
  justify-content: flex-start;
}

.StatusFooter {
  grid-area: 5 / 1 / 6 / 5;
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.StatusFooter ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2.5rem + 0.5vw);
}

.StatusFooter-container li {
  background-color: var(--secondary-color);
  font-size: calc(1rem + 2vw);
  padding: 10px;
}



/* hp bars: */

.hp-bar {
  height: 1vh;
  width: calc(3.5rem + 0.5vw);
  border: solid 2px var(--main-color);
  text-align: center;
}

.hp-bar-progress {
  content: "";
  height: 1vh;
  background-color: var(--main-color);
  width: 100%;
}
.hp-bar p{
  justify-content: center;
  font-size: calc(0.1rem + 0.1vw + 0.5vh);
  color: var(--secondary-color);
}

.hp-bar-progress-bis {
  content: "";
  height: 1vh;
  background-color: var(--main-color);
  width: 75%;
}

.StatusFooter-text{
  padding-top: 5%;
}
.StatusFooter-text  > p {
  font-size: calc(0.1rem + 0.5vw + 0.5vh);

}


/* *{
  border: solid 1px pink;
}  */