.diplomes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 10%;
}

.diplomes-left-side {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 8%;
    width: 70%;    
}

.diplomes-right-side {
    grid-area: 1 / 2 / 2 / 3;
}

.diplomes-left-side li:hover{
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--main-color);
}

.diplomes-left-side li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(0.2rem + 1vw);
}

.diplomes-active-tab
{
    color: var(--secondary-color);
    background-color: var(--main-color);

}

.diplomes-right-side p{
    font-size: calc(0.4rem + 1vw);
}