/* FOOTER ECRAN */

.ecran-footer > div {
    background-color: var(--secondary-color);
}

.ecran-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem+1vw);
}

/* LEVEL UP BAR */
.level-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    background-color: var(--secondary-color);
}

.level-bar {
    height: 1rem;
    width: 5rem;
    border: solid 2px var(--main-color);
}

.level-progress {
    content: "";
    height: 1rem;
    background-color: var(--main-color);
    width: 75%;
}


/* *{
  border: solid 1px pink;
}  */