.mail-me{

}

.ContactCV{
        /* font-size: calc(0.1rem + 1.2vw + 1.2vh); */
        font-size: calc(0.15rem + 1.5vw);
        border-top: 1px solid var(--main-color);
        cursor: pointer;
        color: inherit;
}
.ContactCV a {
   color: inherit;
}