:root {
    --main-color: #18dc0c;
    --secondary-color: #11291b;
    --background-color: #10170f;
  
    /* --main-color: #ff0000;
    --secondary-color: #f3aeaea9;
    --background-color: #10170f; */
  
    --ecran-x: 100vw;
    --ecran-y: 100svh;
  }
  